#div1
{
	margin:300px 900px;
	padding:20px;
	border:7px solid yellow;
	width:300px;
	background:white;
}
body
{
	background-image: url("home_img.jpg");
	background-repeat: no-repeat;
	background-size:cover;
}
#logbutton img
{
    height: 40px;  
    width: 160px;
}